body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e5e5e5;
    font-family: Arial;
}

.login-box {
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.login-box input {
    padding: 8px;
}

.login-box button {
    /* padding: 8px;
    cursor: pointer;
    background: hsla(339, 100%, 55%, 1);
    background: linear-gradient(90deg, hsla(339, 100%, 55%, 1) 0%, hsla(197, 100%, 64%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(339, 100%, 55%, 1) 0%, hsla(197, 100%, 64%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(339, 100%, 55%, 1) 0%, hsla(197, 100%, 64%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#FF1B6B", endColorstr="#45CAFF", GradientType=1); */
    color: rgb(255, 255, 255);
    font-size: 13px;
    line-height: 13px;
    padding: 11px;
    border-radius: 18px;
    font-family: Georgia, serif;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%);
    box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
    border: 2px solid rgb(28, 110, 164);
    display: inline-block;
}

.login-box button:active:hover {
    background: #1C6EA4;
}

.login-box button:active {
    background: #144E75;
}


.login-box a {
    font-size: 12px;
    text-align: right;
}